header{
  width: 1200px;
  height: 76px;
  background-color: #006491;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo img{
  width: 70px;
  height: 70px;
}
@media (max-width:500px){
  header{
    width: auto;
  }

  .menuimg img{
    width: 70px;
    height: 70px;
  }

  .menu{
    display: none;
  }

  .car {
    display: none;
  }
}